.lanTitle{
    position: relative;
    font-size: 10vh;
    margin-bottom: 55vh ;
    color:Deeppink;
}
.lanButton{
    position: relative;
    color: Deeppink;
    background-color: transparent;
    width: 150px;
    height: 40px;
    border-radius: 10%;
    font-size: 3vh;
    border: 1px solid deeppink;
    cursor: pointer;
}